.error {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);

  &__message {
    font-size: 2rem;
  }
}

.home-link {
  margin: 10px;
}
