.header {
  margin-bottom: 1rem;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-group {
  margin: 0 auto;
}

.nav-button {
  width: 120px;
}
