.service-list {
  height: 100%;
}

.services-actions {
  text-align: end;
}

.enabled-service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-service {
  width: 100%;
}

.empty-message {
  width: 100%;
  text-align: center;
}
