<mat-card class="service-list">
  <mat-card-title>Подключенные услуги</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Услуга</mat-label>
      <input matInput placeholder="Введите название" type="text" [(value)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button  aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let service of user.enabledServices">{{service}}
        <button mat-icon-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-title>Доступные услуги</mat-card-title>
  <mat-card-content>
    <mat-selection-list>
      <mat-list-option checkboxPosition="before" *ngFor="let service of services">
        {{service.title}} {{service.fee}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Подключить</button>
  </mat-card-actions>
</mat-card>
