.form-text-field {
  display: block;
}

.notification-form {
  display: flex;

  &__select {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 800px) {
  .settings-button {
    margin: 0 !important;
    &:first-of-type {
      margin-bottom: 0.5rem !important;
    }
  }
}
