<mat-card>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <mat-label>ФИО</mat-label>
          <input matInput type="text" disabled [value]="user.name">
        </mat-form-field>
      </p>
      <mat-divider></mat-divider>
      <p>
        <mat-form-field>
          <mat-label>Псевдоним</mat-label>
          <input matInput type="text" [value]="user.name">
          <button mat-button *ngIf="true" matSuffix mat-icon-button  aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <p>
        <label>Pick your favorite
          <mat-checkbox>Оповещения</mat-checkbox>
          <mat-radio-group>
            <mat-radio-button>
             Email
            </mat-radio-button>
            <mat-radio-button>
              Телефон
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text">
            <button mat-button *ngIf="true" matSuffix mat-icon-button  aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput type="text">
            <button mat-button *ngIf="true" matSuffix mat-icon-button  aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </label>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="settings-button" mat-raised-button color="primary">Отменить изменения</button>
    <button class="settings-button" mat-raised-button color="primary">Сохранить</button>
  </mat-card-actions>
</mat-card>
