.form-text-field {
	display: block;
}
.notification-container {
	display: flex;
	width: 100%;
}
.notification-checkbox {
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.notification-form {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	&__radio {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 18px;
		padding-bottom: 35px;
	}
	&__inputs {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: 300px;
	}
}
.settings-button {
	&:not(last-of-type) {
		margin-right: 0.5rem;
	}
}
@media(max-width: 799px) {
	.settings-button {
		&:not(first-of-type) {
			margin-top: 0.5rem !important;
		}
	}
}
@media(max-width: 639px) {
	.notification-container {
		flex-direction: column;
	}
}
