.form-text-field {
  display: block;
}

.notification-form {
  display: flex;

  &_inputs {
    display: flex;
    flex-direction: column;
  }
}

.settings-button {

  &:not(first-of-type) {
    margin-left: 0.5rem;
  }
}

@media(max-width: 800px) {
  .settings-button {
    margin: 0 !important;
    &:not(first-of-type) {
      margin-top: 0.5rem !important;
    }
  }
}
