<mat-card>
  <form [formGroup]="settingsForm" (input)="formInput()" (ngSubmit)="submitForm()">

    <mat-form-field class="form-text-field" appearance="outline">
      <mat-label>ФИО</mat-label>
      <input matInput type="text" formControlName="userName">
    </mat-form-field>

    <mat-form-field class="form-text-field" appearance="outline">
      <mat-label>Псевдоним</mat-label>
      <input matInput type="text" formControlName="psevdo" autocomplete='off'>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearPsevdo()" [disabled]="!settingsForm.value.psevdo">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="notification-container">
      <mat-checkbox class="notification-checkbox" formControlName="enableNotification" (change)="checkboxHandler()">Оповещения</mat-checkbox>

      <form class="notification-form" *ngIf="settingsForm.value.enableNotification" action="" formGroupName="notification">

        <mat-radio-group class="notification-form__radio" formControlName="emailOrPhone" (change)="radioBtnHandler()">
          <mat-radio-button  value="email"></mat-radio-button>
          <mat-radio-button value="phone"></mat-radio-button>
        </mat-radio-group>

        <div class="notification-form__inputs">

          <mat-form-field class="form-text-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearEmail()" [disabled]="notGroupControl.email.disabled || !notGroupControl.email.value">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="form-text-field" appearance="outline">
            <mat-label>Телефон</mat-label>
            <input matInput type="text" formControlName="phone">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearPhone()" [disabled]="notGroupControl.phone.disabled || !notGroupControl.phone.value">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

        </div>
      </form>
    </div>

    <button type="button" class="settings-button" mat-raised-button color="primary" [disabled]="!isEdited" (click)="setDefault()">Отменить изменения</button>
    <button type="submit" class="settings-button" mat-raised-button color="primary" [disabled]="!(settingsForm.valid && isEdited)">Сохранить</button>
  </form>

</mat-card>
